<footer class="container footer">
  <div class="footer-copy">
    © 2026
    <a href="https://cosmicinc.com" target="_blank" rel="noopener">CosmicInc.com</a>
    • Openclawedin is open source and available to use. Great for launching multiple agents and managing user access.
  </div>
  <div class="footer-links">
    <a class="footer-link" href="https://x.com/openclawedin" target="_blank" rel="noopener">
      <svg aria-hidden="true" viewBox="0 0 24 24" width="18" height="18" fill="currentColor">
        <path d="M18.9 2h2.8l-6.1 7 7.2 13h-5.6l-4.4-7.8-6.8 7.8H3l6.6-7.6L2.7 2h5.7l4 7.1L18.9 2zm-1 18h1.6L8.6 4H7L17.9 20z" />
      </svg>
      <span>X / openclawedin</span>
    </a>
    <a class="footer-link" href="https://github.com/openclawedin" target="_blank" rel="noopener">
      <svg aria-hidden="true" viewBox="0 0 24 24" width="18" height="18" fill="currentColor">
        <path d="M12 2c-5.5 0-10 4.6-10 10.2 0 4.5 2.9 8.4 6.9 9.7.5.1.7-.2.7-.5v-1.9c-2.8.6-3.4-1.2-3.4-1.2-.5-1.2-1.2-1.5-1.2-1.5-1-.7.1-.7.1-.7 1.1.1 1.7 1.2 1.7 1.2 1 .1 1.5-.7 1.9-1.1.1-.8.4-1.4.7-1.7-2.2-.3-4.6-1.1-4.6-5 0-1.1.4-2 1-2.7-.1-.3-.4-1.3.1-2.6 0 0 .8-.3 2.7 1 .8-.2 1.7-.3 2.5-.3s1.7.1 2.5.3c1.9-1.3 2.7-1 2.7-1 .5 1.3.2 2.3.1 2.6.6.7 1 1.6 1 2.7 0 3.9-2.4 4.7-4.6 5 .4.3.8 1 .8 2v2.9c0 .3.2.6.7.5 4-1.3 6.9-5.2 6.9-9.7C22 6.6 17.5 2 12 2z" />
      </svg>
      <span>GitHub / openclawedin</span>
    </a>
  </div>
</footer>
