asgiref==3.11.0
dj-database-url==3.1.0
Django==6.0.1
gunicorn==23.0.0
kubernetes==31.0.0
psycopg[binary]==3.3.2
python-dotenv==1.2.1
sqlparse==0.5.5
stripe==14.3.0
cryptography==42.0.8
solana==0.36.2
